.article-header {
  @extend .container-fluid, .py-3;
  background-color: $fabrice-light-grey;
  text-align: center;
}

.article-header-title {
  color: white;
  text-shadow: 2px 2px 4px $fabrice-grey;
}

.article-header-links {
  margin: 5px 0 10px 0;

  a {
    color: $fabrice-dark-blue;
  }
  a:hover {
    color: white;
  }
}

.article-header-img {
  img {
    max-width: 100%;
  }
}

.article-body {
  @extend .container, .mt-3;

  text-align: justify;

  h1, h2, h3, h4 {
    margin-bottom: $headings-margin-bottom;
  }
}

.article-footer {
  @extend .container, .py-2, .mb-3;

  border-left: 6px solid $fabrice-dark-grey;
  background-color: $fabrice-very-light-grey;
}

.article-similar {
  @extend .py-1;

  background-color: $fabrice-light-grey;

  h3 {
    @extend .py-2;

    text-align: center;
    color: $fabrice-dark-blue;
  }
}

.article-comments {
  @extend .container, .my-3;

  h3 {
    text-align: center;
    margin: 10px 0 20px 0;
    color: $fabrice-grey;
  }
}

.article-comment {
  padding: 5px;
  margin-top: 10px;
  border-top: thin solid $fabrice-very-light-grey;
}

.article-comment-header {
  color: $fabrice-dark-grey;
  margin-bottom: 5px;
}
