.article_thumb {
  @extend .card, .mb-3;
}

.article_thumb-header {
  @extend .card-header;

  background: $fabrice-dark-blue;
}

.article_thumb-img > img {
  display: block;
  margin: 0 auto;

  max-height: 100%;
  max-width: 100%;
}

.article_thumb-subtitle {
  @extend .card-subtitle;

  color: $fabrice-light-grey;
}

.article_thumb-body {
  @extend .card-body;
}

.article_thumb-text {
  @extend .card-text, .text-justify, .mb-2;

  > p {
    display: inline;
  }
}

.article_thumb-title-link {
  @include link-color-all(white);
}

.article_thumb-link-author {
  @include link-color-all($fabrice-blue);
}

.article_thumb-link-social {
  @include link-color-all($fabrice-light-blue);

  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

