/* Space out content a bit */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer {
  @extend .navbar-default;

  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

/* Hide spip admin menu */
#spip-admin {
  display: none;
}

/* For inpage invisible anchors */
a.anchor {
  position: relative;
  display: block;
  top: $navbar-height * -1;
}