body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

// Hide spip admin menu
#spip-admin {
  display: none;
}

// Badge
a.badge-category {
  @extend .py-1, .px-2;

  @include link-color-all($fabrice-dark-blue);
  background-color: white;
}

// Responsive elements (image, text)
.responsive-element {
  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }
}