/* Menu */
#blog-menu {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $fabrice-grey;
  color: white;
  border-top: thin solid white;

  h2 {
    @media (max-width: $screen-xs-min) {
      font-size: 1.6rem;
      margin-bottom: 15px;
    }

    color: white;
    font-size: 2rem;
    line-height: normal;
    margin: 0;
    text-align: center;
  }

  &-links {
    text-align: right;

    a {
      @extend .white-hover;

      margin: 0 0.5rem;
      font-size: 2rem;
    }
  }
}

/* Panels */

.panel-blog {
  @include panel-variant($fabrice-dark-blue, white, $fabrice-dark-blue, $fabrice-blue);

  .panel-heading {
    color: $fabrice-light-grey;
    font-size: $font-size-small;

    h1 {
      margin: 0 0 10px 0;
      font-size: 2rem;

      a {
        @extend .white-hover;
        color: white;
      }
    }

    /* badges */
    .badge {
      font-size: 1rem;
    }
  }

  .panel-body {
    padding: 5px;
  }

  .panel-footer {
    font-size: $font-size-small;
  }
}

/* Pagination */

#pagination {
  text-align: center;
}