summary {
  @extend .card-header;
}

summary::-webkit-details-marker {
  display: none
}

details {
  @extend .card;

  summary:before {
    content: "+";
    color: $fabrice-dark-grey;
    font-weight: bold;
    margin-right: 5px;
  }

  img {
    @extend %article-image;
  }
}

a.magnify-link {
  display: block;
  position: relative;

  i.magnify-img {
    @extend .fa, .fa-search;

    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}

.details-content {
  margin: 10px;

  p {
    margin: 5px 0;
  }
}

details[open] summary:before {
  content: "-";
  color: $fabrice-light-grey;
}