#blog-menu {
  @extend .py-1;

  background-color: $fabrice-grey;
}

.blog-menu-title {
  font-size: 1.25rem;
  color: white;
}

.blog-menu-links {
  @extend .text-right;

  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }

  > a {
    @extend .mr-2;

    @include hover-focus-active {
      color: white;
    }
  }
}