/* Override nav settings */
.navbar-footer-col {
  @include navbar-vertical-align($line-height-computed);
}

.navbar-text a, .navbar-footer-col a {
  color: $fabrice-blue;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

a.navbar-social {
  margin-left: 10px;
  @media (max-width: $screen-xs-min) {
    margin-left: 5px;
  }
}