/* Override nav settings */
.navbar-footer-col {
  @include navbar-vertical-align($line-height-computed);
  color: white;
}

a.navbar-social {
  margin-left: 10px;
  @media (max-width: $screen-xs-min) {
    margin-left: 5px;
  }
}