.navbar {
  background-color: $fabrice-grey;
}

a.navbar-brand.tlt:hover {
  color: $fabrice-blue;
}

.nav-link-shortcut {
  @extend .mr-1, .mr-md-3;
  @extend .responsive-element;

  color: white;

  @include hover-focus {
    color: $fabrice-blue;
    text-decoration: none;
  }
}