#project {
  @extend .mb-2;
}

.project-header {
  @extend .my-5;
  text-align: center;
}

.project-subtitle {
  font-size: $h5-font-size;
}

.project-block {
  h2 {
    @extend .mt-4, .mb-2, .ml-2;
  }

  h3 {
    font-size: $h4-font-size;
  }

  pre {
    @extend code; // for previous articles with <pre> instead of html5 <code>
  }
}