/* Inspired by http://bootsnipp.com/snippets/featured/responsive-quote-carousel */

.quote {
  @extend .media, .my-3;
}

.quote-image {
  @extend .d-flex, .align-self-center, .mr-3;
  height: 100px;
  width: 100px;

  > img {
    height: 100%;
    width: 100%;
  }
}

.quote-block {
  @extend .media-body;

  > p {
    @extend .mb-1;

    &:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
    }
  }
}