/* Link mixin */
@mixin link-color-all($color, $text-decoration:none) {
  color: $color;
  &:visited, &:hover, &:active {
    color: $color;
    text-decoration: $text-decoration;
  }
}

%article-image {
  @extend .img-thumbnail;

  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}