// colors
$fabrice-blue: rgb(79,129,189);
$fabrice-light-blue: rgb(129, 152, 189);
$fabrice-dark-blue: rgb(37,64,97);
$fabrice-grey: rgb(64,64,64);
$fabrice-light-grey: rgb(154, 154, 154);
$fabrice-dark-grey: rgb(2, 2, 2);
$fabrice-very-light-grey: rgb(218, 218, 218);

// Navbar
$navbar-light-color: white;
$navbar-light-hover-color: $fabrice-blue;
$navbar-light-active-color: white;
$navbar-light-disabled-color: $fabrice-light-blue;

// Dropdowns
$dropdown-link-hover-color: $fabrice-blue;

// Fonts
$font-family-base: 'Play', sans-serif;

// Card
$card-spacer-x: 1rem;

// Headings
$headings-color: $fabrice-dark-blue;

// Links
$link-color: $fabrice-blue;
$link-hover-color: $fabrice-dark-blue;
$link-hover-decoration: underline;